@model Admin.Models.clsAttributeTitle
@{

    HtmlHelper.ClientValidationEnabled = false;
}
@using (Html.BeginForm("AttributeTitleEdit", "AttributeTitle", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FilterAttributeID)
        @Html.HiddenFor(model => model.FilterAttributeLanguageID)
        @Html.HiddenFor(Model => Model.AttributeTitleID)
        <div class="form-group">
            @Html.LabelFor(model => model.AttributeName, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.AttributeID, new SelectList(ViewBag.lstAttribute, "Value", "Text"), "Select Attribute", new { @class = "form-control", id = "editAttributeID", @onchange = "editvalidData()" })
                @Html.ValidationMessageFor(model => model.AttributeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageName, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.LanguageID, new SelectList(ViewBag.lngList, "Value", "Text"), "Select Language", new { @class = "form-control", id = "editLanguageID", @onchange = "editvalidData()" })
                @Html.ValidationMessageFor(model => model.LanguageName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttributeTitle, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AttributeTitle, new { @class = "form-control", id = "editAttributeTitle", @onfocusout = "editvalidData()" })
                @Html.ValidationMessageFor(model => model.AttributeTitle)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-8 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="return editvalidData();" />
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
}


<script type="text/jscript">

    function editvalidData() {
        var attriID = $('#editAttributeID').val();
        var langID = $('#editLanguageID').val();
        var attriTitle = $('#editAttributeTitle').val().trim();;



        if (attriID) {
            $('#editAttributeID').css('border-color', '');
        }
        else {
            $('#editAttributeID').css('border-color', 'red');
        }

        if (langID) {
            $('#editLanguageID').css('border-color', '');
        }
        else {
            $('#editLanguageID').css('border-color', 'red');
        }

        if (attriTitle) {
            $('#editAttributeTitle').css('border-color', '');
        }
        else {
            $('#editAttributeTitle').css('border-color', 'red');
        }

        if (attriID && langID && attriTitle) {
            return true;
        }
        else {
            return false;
        }

        return false;
    }
</script>