@model IEnumerable<Admin.Models.clsCompanyMissionInfo>

@{
    ViewBag.Title = "Company Mission Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Admin.Models.clsCompanyMissionInfo obj = (Admin.Models.clsCompanyMissionInfo)ViewBag.objCompanyMission;
}

<div class="box col-md-12">
    <div class="box-inner">

        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead class="alert alert-info">
                <th>
                    @Html.DisplayNameFor(model => model.LanguageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MissionStatement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoUrl)
                </th>

                <th><a data-toggle="modal" href="#addCompanyMissionInfo" class="btn btn-primary btn-small">Add New</a></th>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LanguageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MissionStatement)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VideoUrl)
                            </td>

                            <td class="center">
                                <a class="btn btn-success" name="@Url.Action("ViewCompanyMissionInfo", "CompanyMissionInfo", new { id = item.CompanyMissionInfoID })" href="#">
                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    View
                                </a>
                                <a class="btn btn-info" name="@Url.Action("EditCompanyMissionInfo", "CompanyMissionInfo", new { id = item.CompanyMissionInfoID })" href="#">
                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger" name="@Url.Action("DeleteCompanyMissionInfo", "CompanyMissionInfo", new { id = item.CompanyMissionInfoID })" href="#">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        var msg = '@ViewData["Message"]';
        if (msg) {
            // alert(msg);
            $('#messageModal').modal('show');
        }
    });
</script>

<div id="messageModal" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color:white;">Message</h4>
            </div>
            <div id="messageContent" class="modal-body">



                @Html.Partial("Message")

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addCompanyMissionInfo" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color:white;">Add New</h4>
            </div>
            <div id="addCompanyMissionInfoContent" class="modal-body">



                @Html.Partial("AddCompanyMissionInfo", obj)

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="editCompanyMissionInfoModal" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color:white;">Edit</h4>
            </div>
            <div id="editCompanyMissionInfoContent" class="modal-body">
                @Html.Partial("EditCompanyMissionInfo", obj)
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="viewCompanyMissionInfoModal" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color:white;">Details</h4>
            </div>
            <div id="viewCompanyMissionInfoContent" class="modal-body">
                @Html.Partial("ViewCompanyMissionInfo", obj)
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="confirmCompanyMissionInfo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="color:white;">Delete</h4>
            </div>
            <div id="deleteCompanyMissionInfoContent" class="modal-body">
                @Html.Partial("DeleteCompanyMissionInfo", obj)
            </div>
            @*<div class="modal-footer">
                    <button type="button" value="12" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>*@
        </div>
    </div>
</div>


<script type="text/jscript">




    $('.btn-danger').click(function () {
        // alert('Hiii');
        var url = $(this).attr('name');
        //  alert(url);
        var valdata = url.replace("/CompanyMissionInfo/DeleteCompanyMissionInfo/", '');
        //  alert(valdata);
        $.post('/CompanyMissionInfo/DeleteCompanyMissionInfo/', { id: valdata }, function (data) {
            $('#deleteCompanyMissionInfoContent').html(data);
            $('#confirmCompanyMissionInfo').modal('show');
        });

    });


    $('.btn-info').click(function () {
        //alert("hiiii");
        var url = $(this).attr('name');
        //alert(url);
        var valdata = url.replace("/CompanyMissionInfo/EditCompanyMissionInfo/", '');
        //alert(valdata);
        $.post('/CompanyMissionInfo/EditCompanyMissionInfo/', { id: valdata }, function (data) {
            $('#editCompanyMissionInfoContent').html(data);
            $('#editCompanyMissionInfoModal').modal('show');
        });


    })

    $('.btn-success').click(function () {
        // alert("hiiii");
        var url = $(this).attr('name');
        //alert(url);
        var valdata = url.replace("/CompanyMissionInfo/ViewCompanyMissionInfo/", '');
        //alert(valdata);
        $.post('/CompanyMissionInfo/ViewCompanyMissionInfo/', { id: valdata }, function (data) {
            $('#viewCompanyMissionInfoContent').html(data);
            $('#viewCompanyMissionInfoModal').modal('show');
        });


    })

</script>